$textarea-max-height: 200px;
$textarea-radius: 10px;
$textarea-color: #a8a8a8;
$textarea-color_hover: #8d8d8d;
$textarea-bolder: 2px solid $textarea-color;

.qna_box_item_push_container {
  margin-top: 30px;
  width: 100%;
  max-height: $textarea-max-height;
  position: relative;
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .textarea_box {
      max-height: $textarea-max-height;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .textarea {
        font-size: 20px;
        font-family: sans-serif;
        max-height: $textarea-max-height;
        border-top: $textarea-bolder;
        border-bottom: $textarea-bolder;
        border-left: $textarea-bolder;
        border-right: none;
        border-top-left-radius: $textarea-radius;
        border-bottom-left-radius: $textarea-radius;
        outline: none;
        resize: none;
      }
    }
    .button_box {
      width: 100%;
      max-height: $textarea-max-height;
      background-color: $textarea-color;
      border-top-right-radius: $textarea-radius;
      border-bottom-right-radius: $textarea-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
      &:hover {
        background-color: $textarea-color_hover;
      }
      .button {
        text-align: center;
        color: white;
        font-weight: bold;
      }
    }
  }
}
