.styles_modal__gNwvD {
  max-width: 900px;
}
.contentModalStyle {
  background: #EEEEEE;
}
.contentHeaderModalBox {
	padding-top: 20px;
	margin-top: 20px;
	width: 900px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentHeaderModalBoxText {
	width: 85%;
	padding-left: 2%;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.contentInfoBox {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	max-height: 250px;
	display: inline-flex;
	background: white;
}
.contentInfoLeftBox {
	width: 40%;
	height: 250px;
	display: inline-table;
}
.contentInfoLeftImageBox {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentInfoLeftImage {
	width: 80%;
	height: 80%;
}
.contentInfoRightBox {
	width: 60%;
	height: 250px;
	display: inline-table;
	padding-top: 15px;
}
.contentInfoRightTextBox {
	width: 100%;
	height: 17%;
	display: inline-flex;
	align-items: center;
}
.contentInfoRightHeader {
	padding-left: 30px;
	font-size: 20px;
	font-weight: bold;
}
.contentInfoRightContent {
	padding-left: 30px;
	font-size: 20px;
}
.contentContentBox {
	width: 100%;
	display: table;
	float: left;
	background-color: white;
}
.contentContentTextBox {
	padding-left: 5%;
	padding-top: 30px;
	padding-right: 5%;
	padding-bottom: 30px;
	font-size: 20px;
	text-align: justify;
	width: 90%;
	height: 100%;
	min-height: 200px;
	font-family: sans-serif;
}