.answer_list_item_container .item_wrapper {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebebeb;
  border-radius: 10px;
}
.answer_list_item_container .item_wrapper .answer_content .answer_title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.answer_list_item_container .item_wrapper .answer_content .answer_info {
  display: flex;
  flex-direction: row;
}
.answer_list_item_container .item_wrapper .answer_content .answer_info--poster {
  margin-right: 20px;
}
.answer_list_item_container .item_wrapper .answer_upvote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 15px;
  font-size: 20px;
}
.answer_list_item_container .item_wrapper .answer_upvote .edit_box {
  color: #ebebeb;
  font-size: 15px;
}
.answer_list_item_container .item_wrapper .answer_upvote .edit_box--hover-active {
  cursor: pointer;
  font-size: 15px;
}
.answer_list_item_container .item_wrapper .answer_upvote .edit_box--hover-active:hover {
  font-weight: bold;
}
.answer_list_item_container .item_wrapper .answer_upvote_icon {
  cursor: pointer;
  padding-top: 5px;
  margin-right: 10px;
}
