.answer_list_item_container {
    .item_wrapper {
      margin-top: 15px;
      .question_box {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .icon_arrow {
        }
        .question_content {
          .question_title {
          }
          .question_info {
            display: flex;
            flex-direction: row;
            &--poster {
              margin-right: 20px;
            }
            &--date {
            }
          }
        }
      }
    }
  }
  