.answer_item_push_container {
  margin-top: 10px;
  width: 100%;
  max-height: 200px;
  position: relative;
}
.answer_item_push_container .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.answer_item_push_container .form .textarea_box {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.answer_item_push_container .form .textarea_box .textarea {
  font-size: 15px;
  font-family: sans-serif;
  max-height: 200px;
  border-top: 2px solid #a8a8a8;
  border-bottom: 2px solid #a8a8a8;
  border-left: 2px solid #a8a8a8;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  resize: none;
}
.answer_item_push_container .form .button_box {
  width: 100%;
  max-height: 200px;
  background-color: #a8a8a8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.answer_item_push_container .form .button_box:hover {
  background-color: #8d8d8d;
}
.answer_item_push_container .form .button_box .button {
  text-align: center;
  color: white;
  font-weight: bold;
}
