.homeupperBox {
  width: 80%;
  height: 230px;
  justify-content: space-between;
	background-color: #BDBDBD;
	margin: auto;
	margin-top: 50px;
}
.homeupperTextBox {
	width: 70%;
	height: 230px;
	float: left;
}
.homeupperBoxTitle {
	color: black;
	display: table-cell;
	font-weight: bold;
	font-size: 50px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.homeupperBoxContent {
	color: black;
	font-size: 25px;
	padding-top: 5px;
	padding-left: 30px;
}
.homeupperImageBox {
	width: 30%;
	height: 230px;
	float: right;
}
.homeupperImage {
	width: 80%;
	height: 180px;
	margin: auto;
	margin-top: 25px;
	margin-left: 10%;
}
.homeboxText {
	width: 80%;
	height: 80px;
	justify-content: space-between;
	padding-top: 30px;
	margin:auto;
}
.homeboxTextStyle {
  display: inline-table;
  padding-left: 5px;
	font-size: 23px;
}
.homeboxNumStyle {
  display: inline-table;
  padding-left: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #DD2C00;
}
.homenationalBox {
  width: 80%;
  height: 200px;
	margin: auto;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: white;
	padding-bottom: 20px;
}
.homenationalFlagBox {
	width: 265px;
  text-align: center;
  display: inline-table;
	height: 150px;
	background-color: white;
	padding-right: 8px;
	padding-left: 8px;
}
.homenationalFlagImg{
	height: 80px;
	width: 200px;
  display: inline-table;
}
.homeFlagImg{
	height: 100px;
	width: 200px;
}
.homenationalFlagText1 {
	padding-top: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.homenationalFlagText2 {
	margin-top: 5px;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
  display: inline-table;
}
.homenationalFlagText3 {
	padding-left: 10px;
	margin-top: 5px;
	font-size: 20px;
	text-align: center;
  display: inline-table;
}
.homehrBox{
	width: 80%;
	height: 10px;
	margin:auto;
}
.homehrStyle {
	margin: auto;
}
.homeeventBox {
  width: 80%;
  height: 250px;
	margin: auto;
	justify-content: space-between;
}
.homeeventCategoryBox {
	width: 300px;
  text-align: center;
  display: inline-table;
	height: 210px;
	background-color: #EEEEEE;
}
.homeeventCategoryText1 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.homeeventCategoryText2 {
	font-size: 20px;
	margin-top: 10px;
}
.homeeventLeft {
	margin-left: 30px;
}
.homeeventRight {
	margin-right: 30px;
}