.upperBox {
  width: 80%;
  height: 230px;
  justify-content: space-between;
	background-color: #BDBDBD;
	margin: auto;
	margin-top: 50px;
}
.upperTextBox {
	width: 70%;
	height: 230px;
	float: left;
}
.upperBoxTitle {
	color: black;
	display: table-cell;
	font-weight: bold;
	font-size: 50px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.upperBoxContent {
	color: black;
	font-size: 25px;
	padding-top: 5px;
	padding-left: 30px;
}
.upperImageBox {
	width: 30%;
	height: 230px;
	float: right;
}
.upperImage {
	width: 80%;
	height: 180px;
	margin: auto;
	margin-top: 25px;
	margin-left: 10%;
}
.boxText {
	width: 80%;
	height: 80px;
	justify-content: space-between;
	padding-top: 30px;
	margin:auto;
}
.boxTextStyle {
  display: inline-table;
  padding-left: 5px;
	font-size: 23px;
}
.boxNumStyle {
  display: inline-table;
  padding-left: 10px;
	font-size: 30px;
	font-weight: bold;
	color: red;
}
.nationalBox {
  width: 80%;
  height: 200px;
	margin: auto;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: white;
	padding-bottom: 20px;
}
.nationalFlagBox {
	width: 265px;
  text-align: center;
  display: inline-table;
	height: 150px;
	background-color: white;
	padding-right: 8px;
	padding-left: 8px;
}
.nationalFlagImg{
	height: 80px;
	width: 200px;
  display: inline-table;
}
.FlagImg{
	height: 100px;
	width: 200px;
}
.nationalFlagText1 {
	padding-top: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.nationalFlagText2 {
	margin-top: 5px;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
  display: inline-table;
}
.nationalFlagText3 {
	padding-left: 10px;
	margin-top: 5px;
	font-size: 20px;
	text-align: center;
  display: inline-table;
}
.hrBox{
	width: 80%;
	height: 10px;
	margin:auto;
}
.hrStyle {
	margin: auto;
}
.eventBox {
  width: 80%;
  height: 250px;
	margin: auto;
	justify-content: space-between;
}
.eventCategoryBox {
	width: 300px;
  text-align: center;
  display: inline-table;
	height: 210px;
	background-color: #EEEEEE;
}
.eventCategoryText1 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.eventCategoryText2 {
	font-size: 20px;
	margin-top: 10px;
}
.eventLeft {
	margin-left: 30px;
}
.eventRight {
	margin-right: 30px;
}