.container {
  margin-top: 15px;
  margin-bottom: 10px;
}
.container .tab {
  font-size: 20px;
}
.container .column {
  color: #a8a8a8;
}
.container .column:hover {
  cursor: pointer;
  color: #8d8d8d;
}
.container .all {
  color: #a8a8a8;
}
.container .all-active {
  font-weight: bold;
  color: black;
}
.container .official {
  color: #a8a8a8;
}
.container .official-active {
  font-weight: bold;
  color: black;
}
.container .individual {
  color: #a8a8a8;
}
.container .individual-active {
  font-weight: bold;
  color: black;
}