.container {
  margin-top: 15px;
  margin-bottom: 10px;
  // display: flex;
  // flex-direction: row;

  .tab {
    font-size: 20px;
  }

  .column {
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .all {
    opacity: 0.5;
    &-active {
      font-weight: bold;
      opacity: 1;
    }
    // padding-top: 5px;
    // padding-bottom: 5px;
    // padding-left: 20px;
    // padding-right: 20px;
  }
  .official {
    opacity: 0.5;
    &-active {
      font-weight: bold;
      opacity: 1;
    }
    // padding-top: 5px;
    // padding-bottom: 5px;
    // padding-left: 20px;
    // padding-right: 20px;
  }
  .individual {
    opacity: 0.5;
    &-active {
      font-weight: bold;
      opacity: 1;
    }
    // padding-top: 5px;
    // padding-bottom: 5px;
    // padding-left: 20px;
    // padding-right: 20px;
  }
}
