.source_box_item_push_container {
  width: 100%;
  height: 70px;
  background-color: #a8a8a8;
  position: relative;
  border-radius: 10px;
}
.source_box_item_push_container:hover {
  cursor: pointer;
  background-color: #8d8d8d;
}
.source_box_item_push_container .desc_box {
  width: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.source_box_item_push_container .desc_box .plus {
  font-size: 20px;
}
.source_box_item_push_container .desc_box .tooltiptext {
  width: 100%;
  font-size: 15px;
  opacity: 0.7;
}
