*{
   margin: 0px;
   padding: 0px;
}
.main_Box {
	width: 100%;
	height: 90px;
	background-color: black;
	top: 0;
}
.logoBox {
	width: 40%;
	height: 90px;
	display: table;
	float: left;
	margin-left: 3%;
}
.logoText {
	font-size: 40px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	color: white;
}
.otherBox {
	width: 40%;
	height: 90px;
	float: right;
}
.buttonBox {
	width: 40%;
	line-height: 90px;
	float: left;
	align-items: center;
	justify-content: center;
}
.button {
	background-color: white;
	height: 30px;
	display: inline-block;
	vertical-align: baseline;
	width: 70%;
	margin-left: 30%;
	border: none;
  font-size: 16px;
}
.userBox {
	width: 60%;
	height: 90px;
	float: right;
}
.userNameBox {
	width: 70%;
	text-align: right;
	display: table;
	height: 90px;
	float: left;
}
.userNameText {
	display: table-cell;
	color: white;
	vertical-align: middle;
	font-size: 20px;
}
.userImageBox {
	width: 30%;
	height: 90px;
	float: right;
}
.userImage {
	padding-left: 10px;
	padding-top: 15px;
	width: 60px;
	height: 60px;
}
