.eventBox {
	width: 100%;
	min-height: 200px;
	height: 100%;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 15px;
	background-color: #F5F5F5;
}
.eventBox:hover {
	width: 100%;
	min-height: 200px;
	height: 100%;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 15px;
	background-color: #E0E0E0;
}
.eventUpperBox {
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
	height: 38%;
	display: inline-flex;
}
.eventLowerBox {
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
	height: 58%;
	justify-content: center;
}
.eventUpperImageBox {
	width: 20%;
	height: 130px;
	float: left;
}
.eventUpperRightBox {
	width: 80%;
	height: 130px;
	float: right;
  display: flex;
  flex: 1;
	flex-direction: column;
	justify-content: center;
}
.eventUpperRightTitle {
	padding-left: 25px;
	font-size: 38px;
	font-weight: bold;
}
.eventLowerContentBox {
	padding-top: 10px;
	width: 80%;
	height: 100%;
  display: table-cell;
  vertical-align: middle;
	font-size: 18px;
}