.source_box_list_container {
  margin-top: 15px;
  margin-bottom: 10px;

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
    background: #555;
    border-radius: 10px;
  }

  .list_wrapper {
    //   background-color: #f1f1f1;
    //   border-radius: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
